body, html {
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(0,88,140, 1), rgba(0,88,140, 0));
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 32%;
    height: 100%;
    margin: 0;
    border-radius: 20px;
}
#dti-logo {
    width: 115px;
    height: 100px;
    align-self: center;
}
.card {
    position: absolute;
    background-color:#FFF;
    border-radius: 20px;
    height: 610px;
    width: 564px;
    box-shadow:  5px 3px 10px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.card-header, .card-footer { 
    height: 30%; 
}
.card-body {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.card-body>h5 {
    flex: 1;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.card-body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.card-body>p { 
    font-weight: 700; 
    text-align: center; 
}
.card-body { 
    height: 40%; 
}
footer {
    display: flex;
    flex-direction: column;
}
footer>h5 {
    align-self: center;
    text-align: center;
    padding: 15px;
    margin: 0px;
    background-color: rgba(255,113,113, 0.8);
    border: 1px solid rgb(255,113,113);
    border-radius: 10px;
}
form { 
    height: 40%;
    width: 100%;
}
#btnVoltar {
    height: 100%;
    width: 100%;            
    padding: 15px;
    background-color: #0051ff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin: 8px;
    border-radius: 10px;
    box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.btnVoltar:hover, .btnVoltar:active {
    transform: scale(1.02);
    background-color: rgba(0, 81, 255, 0.9);
}
@media screen and (max-width: 564px) {
    body, html {
        background-image: none;
    }
    #logoUPE {
        display: none;
    }
    .card {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    header>img {
        width: 50%;
    }
    .card-body>h5 {
        font-size: 16px;
    }
    footer>h5 {
        width: 65%;
        text-align: center;
    }
}
@media screen and (min-height: 1366px) and (min-width: 1024px) {
    body, html {
        background-image: none;
    }    
    .card {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .card-header {
        height: 15%;
    }
    img {
        height: 100%;
        width: 30%;
    }
    .card-body {
        height: 22%;
    }
    .card-body>h5 {
        font-size: 22px;
        margin-top: 40px;
        padding: 10px;
        height: 30%;
    }
    .card-footer {
        height: 20%;
    }
}
@media screen and (height: 568px) and (width: 320px) {
    header, .card-body, footer {
        height: 33%;        
    }
}
@media screen and (height: 1366px) and (width: 1024px) {
    body, html {
        background-image: linear-gradient(to bottom, rgba(0,88,140, 1), rgba(0,88,140, 0));
    }
    .card {
        height: 810px;
        width: 683px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, 0.5);
    }
    .card-header {
        height: 25%;
    }
    header>img {
        height: 100%;
        width: 32%;
    }
    .card-body {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-body>form {
        width: 100%;
        align-self: center;
        height: 20%;
    }
    footer {
        height: 25%;
    }    
}